@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employee list";
    var filePath = "nonavatar.png";
}

<div class="row">
    @foreach (var emp in Model)
    {
        filePath = $"/images/{(emp.AvatarPath ?? "nonavatar.png")}";
        <div class="col-sm-3">
            <div class="card my-2">
                <div class="card-header">
                    <h3>@emp.Name</h3>
                </div>
                <img src="@filePath" class="card-img-top" asp-append-version="true"/>
                <div class="card-footer text-center">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@emp.Id" class="btn btn-info">View</a>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@emp.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@emp.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>